ebin/*.beam
ebin/*.app
deps
.eunit
.eqc/
.eqc-info
.qc/
current_counterexample.eqc
rebar3.crashdump
erl_crash.dump
repl_leader_eqc_data/
.local_dialyzer_plt
tags
dialyzer_unhandled_warnings
dialyzer_warnings
.rebar/
_build/
rebar.lock
.DS_Store
include/riak_repl_pb.hrl
src/riak_repl_pb.erl
undefined
data/*
.rebar3/erlcinfo
test/*.beam
log/*.log
