%%-*- mode: erlang -*-

{cover_enabled, true}.
{erl_opts, [debug_info, fail_on_warning, {parse_transform, lager_transform}]}.
{erl_first_files, ["src/gen_leader.erl"]}.
{lib_dirs, ["deps", ".."]}.
{deps, [
        {riak_core, ".*", {git, "git://github.com/basho/riak_core", {branch, "develop"}}},
        {riak_kv, ".*", {git, "git://github.com/basho/riak_kv", {branch, "develop"}}},
        {riak_search, ".*", {git, "git://github.com/basho/riak_search",
                                 {branch, "develop"}}},
        {meck, "0.8.1", {git, "git://github.com/basho/meck.git", {tag, "0.8.1"}}},
        {riak_repl_pb_api, ".*", {git, "git@github.com:basho/riak_repl_pb_api", {branch, "develop"}}}
       ]}.
