{cover_enabled, true}.
{erl_opts, [debug_info, fail_on_warning, {parse_transform, lager_transform}]}.
{erl_first_files, ["src/gen_leader.erl"]}.
{lib_dirs, [".."]}.
{deps, [
        {riak_kv, "1.2.*", {git, "git://github.com/basho/riak_kv", {branch, "1.2"}}},
        {riak_search, "1.2.*", {git, "git://github.com/basho/riak_search",
                                 {branch, "1.2"}}},
        {meck, "0.7.2", {git, "git://github.com/eproxus/meck.git", {tag, "0.7.2"}}},
        {ranch, "0.2.1", {git, "git://github.com/extend/ranch.git", {tag, "0.2.1"}}}
       ]}.
