{cover_enabled, true}.
{erl_opts, [debug_info, fail_on_warning, {parse_transform, lager_transform}]}.
{erl_first_files, ["src/gen_leader.erl"]}.
{lib_dirs, [".."]}.
{deps, [
        {riak_kv, ".*", {git, "git://github.com/basho/riak_kv", {branch, "master"}}},
        {riak_search, ".*", {git, "git://github.com/basho/riak_search",
                                 {branch, "master"}}},
        {meck, ".*", {git, "git://github.com/eproxus/meck.git", "HEAD"}},
        {erl_lfq, ".*", {git, "git://github.com/argv0/erl_lfq.git", "HEAD"}},
        {ranch, "0.2.1", {git, "git://github.com/extend/ranch.git", {tag, "0.2.1"}}}
       ]}.
